// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// Font
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

// Colors
$primary-color: #ffffff;
$secondary-color: #fff5f6;

$primary-brand-color: #d41443;
$primary-brand-shade-color: #d41342;
$primary-brand-shadow-color: #e17992;
$secondary-brand-color: #ffb8ca;
$tertiary-brand-color: #ffa5ba;
$second-card-color: #f0d1a5;
$third-card-color: #c2e297;

$primary-text-color: #000000;
$secondary-text-color: #907e82;

$accent-color: #c7133e;
$accent-shadow-color: #ecebeb;
$shadow-background-color: #fafafa;

$border-color: #e1e1e1;
$menu-border-color: #e18298;

// Animation
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
