<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantures</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--first">
        <p class="advantages__text--first">721</p>
        <p class="advantages__text--second">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--second">
        <p class="advantages__text--first">16kg</p>
        <p class="advantages__text--second">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--third">
        <p class="advantages__text--first">84</p>
        <p class="advantages__text--second">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
