<section class="contacts" id="contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <div class="contacts__container">
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <p class="contacts-list__category contacts-list__category--main">CAFE</p>
                    <div class="contacts-list__border-line">
                        <p class="contacts-list__city">Chicago</p>
                        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts-list__border-line">
                        <div class="contacts-list__weekday-block">
                            <p class="contacts-list__info">Monday - Friday</p>
                            <p class="contacts-list__schedule">06:00 AM - 10:00 PM</p>
                        </div>
                        <p class="contacts-list__info">Saturday - Sunday</p>
                        <p class="contacts-list__schedule">08:00 AM - 16:00 PM</p>
                    </div>
                    <a href="tel:+61(0)383766284" class="contacts-list__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-list__link">noreply@envato.com</a>
                </li>
                <li class="contacts-list__item">
                    <p class="contacts-list__category contacts-list__category--secondary">FOOD TRUCK</p>
                    <div class="contacts-list__border-line">
                        <p class="contacts-list__city">Los Angeles</p>
                        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts-list__border-line">
                        <div class="contacts-list__weekday-block">
                            <p class="contacts-list__info">Monday - Friday</p>
                            <p class="contacts-list__schedule">06:00 AM - 10:00 PM</p>
                        </div>
                        <p class="contacts-list__info">Saturday - Sunday</p>
                        <p class="contacts-list__schedule">08:00 AM - 16:00 PM</p>
                    </div>
                    <a href="tel:+61(0)383766284" class="contacts-list__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-list__link">noreply@envato.com</a>
                </li>
                <li class="contacts-list__item">
                    <p class="contacts-list__category contacts-list__category--main">CAFE</p>
                    <div class="contacts-list__border-line">
                        <p class="contacts-list__city">New York</p>
                        <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts-list__border-line">
                        <div class="contacts-list__weekday-block">
                            <p class="contacts-list__info">Monday - Friday</p>
                            <p class="contacts-list__schedule">06:00 AM - 10:00 PM</p>
                        </div>
                        <p class="contacts-list__info">Saturday - Sunday</p>
                        <p class="contacts-list__schedule">08:00 AM - 16:00 PM</p>
                    </div>
                    <a href="tel:+61(0)383766284" class="contacts-list__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-list__link">noreply@envato.com</a>
                </li>
            </ul>
        </div>
        <div class="contacts-buttons">
            <button type="button" class="contacts-locations-button js-map-modal-open">
                <span class="button__text">Our Locations</span>
                <svg width="6" height="10" class="button__icon--white">
                    <use href='./images/symbol-defs.svg#icon-Vector-1'></use>
                </svg>
            </button>
            <button type="button" class="contacts-franchise-button js-franchise-modal-open">
                <span class="button__text">Franchise</span>
                <svg width="6" height="10" class="button__icon--pink">
                    <use href='./images/symbol-defs.svg#icon-Vector-1'></use>
                </svg>
            </button>
        </div>
    </div>
</section>