<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">customer-reviews</h2>
    <div class="slider">
      <div class="slider--1">
        <div class="reviews__client-wraper">
          <img
            class="reviews__image"
            srcset="
              ./images/customer-reviews/photo-1-1x.webp 1x,
              ./images/customer-reviews/photo-1-2x.webp 2x
            "
            src="./images/customer-reviews/photo-1-1x.webp"
            alt="аватар"
            width="85"
            height="85"
          />
          <div class="reviews__text-wraper"> 
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
          </div>
          <div class="reviews__author">Emily, Los Angeles</div>
        </div>
      </div>

      <div class="slider--2">
        <div class="reviews__client-wraper">
          <img
          class="reviews__image"
            srcset="
              ./images/customer-reviews/photo-2-1x.webp 1x,
              ./images/customer-reviews/photo-2-2x.webp 2x
            "
            src="./images/customer-reviews/photo-2-1x.webp"
            alt="аватар"
            width="85"
            height="85"
          />
          <div class="reviews__text-wraper">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__author">Emily, Los Angeles</div>
        </div>
      </div>

      <div class="slider--3">
        <div class="reviews__client-wraper">
          <img
          class="reviews__image"
            srcset="
              ./images/customer-reviews/photo-3-1x.webp 1x,
              ./images/customer-reviews/photo-3-2x.webp 2x
            "
            src="./images/customer-reviews/photo-3-1x.webp"
            alt="аватар"
            width="85"
            height="85"
          />
          <div class="reviews__text-wraper">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__author">Emily, Los Angeles</div>
        </div>
      </div>
    </div>
  </div>
  </section>

