<div class="franchise-backdrop backdrop is-hidden js-franchise-modal">
    <div class="franchise-form">
        <button type="button" class="franchise-close-button js-franchise-modal-close">
            <svg width="16" height="16" class="franchise-form__icon-close">
                <use href="./images/symbol-defs.svg#icon-modal-close"></use>
            </svg>
        </button>
        <p class="franchise-form__title">To order franchise - contact us! </p>
        <form class="franchise-form__block">
            <div class="franchise-form__group-absolute">
                <input type="text" id="name" name="name" class="franchise-form__input">
                <label for="name" class="franchise-form__label">Name</label>
                <svg width="15" height="15" class="franchise-form__icon-input">
                    <use href="./images/symbol-defs.svg#icon-person"></use>
                </svg>
            </div>              
            <div class="franchise-form__group-absolute">
                <input type="text" id="tel" name="tel" class="franchise-form__input">
                <label for="tel" class="franchise-form__label">Telephone</label>
                <svg width="15" height="15" class="franchise-form__icon-input">
                    <use href="./images/symbol-defs.svg#icon-phone"></use>
                </svg>
            </div>
            <div class="franchise-form__group-absolute">
                <input type="text" id="email" name="email" class="franchise-form__input">
                <label for="email" class="franchise-form__label">E-mail</label> 
                <svg width="15" height="15" class="franchise-form__icon-input">
                    <use href="./images/symbol-defs.svg#icon-email"></use>
                </svg>
            </div>
            <button type="submit" class="franchise-form-button">
                <span class="franchise-form-button__text">Order</span>
            </button>
        </form>
    </div>
</div>