<section class="gallery-background">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery">
      <div class="gallery__item1 animate__animated animate__backInLeft">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-1.png    1x,
              ./images/desktop/gallery/images1@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images1.png    1x,
              ./images/tablet/gallery/images1@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images1.png    1x,
              ./images/mobile/gallery/images1@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" loading="lazy" />
        </picture>
      </div>
      <div class="gallery__item2">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-2.png  1x,
              ./images/desktop/gallery/images2@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images2.png    1x,
              ./images/tablet/gallery/images2@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images2.png    1x,
              ./images/mobile/gallery/images2@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" loading="lazy" />
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-3.png    1x,
              ./images/desktop/gallery/images3@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images3.png    1x,
              ./images/tablet/gallery/images3@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images3.png    1x,
              ./images/mobile/gallery/images3@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" loading="lazy" />
        </picture>
      </div>
      <div class="gallery__item3 animate__animated animate__zoomIn">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-4.png    1x,
              ./images/desktop/gallery/images4@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images4.png    1x,
              ./images/tablet/gallery/images4@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images4.png    1x,
              ./images/mobile/gallery/images4@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img gallery__img4" src="#" alt="Gallery" loading="lazy" />
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-5.png   1x,
              ./images/desktop/gallery/images5@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images5.png    1x,
              ./images/tablet/gallery/images5@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images5.png    1x,
              ./images/mobile/gallery/images5@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img gallery__img5" src="#" alt="Gallery" loading="lazy" />
        </picture>
      </div>
      <div class="gallery__item4 animate__animated animate__slideInDown">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-6.png    1x,
              ./images/desktop/gallery/images6@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images6.png    1x,
              ./images/tablet/gallery/images6@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images6.png    1x,
              ./images/mobile/gallery/images6@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" loading="lazy" />
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-7.png    1x,
              ./images/desktop/gallery/images7@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images7.png    1x,
              ./images/tablet/gallery/images7@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images7.png    1x,
              ./images/mobile/gallery/images7@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" loading="lazy" />
        </picture>
      </div>
      <div class="gallery__item5">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-8.png    1x,
              ./images/desktop/gallery/images8@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images8.png    1x,
              ./images/tablet/gallery/images8@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images8.png    1x,
              ./images/mobile/gallery/images8@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" loading="lazy" />
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-9.png    1x,
              ./images/desktop/gallery/images9@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images9.png    1x,
              ./images/tablet/gallery/images9@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images9.png    1x,
              ./images/mobile/gallery/images9@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" loading="lazy" />
        </picture>
      </div>
      <div class="gallery__item6 animate__animated animate__backInRight">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/images-10.png    1x,
              ./images/desktop/gallery/images10@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/gallery/images10.png    1x,
              ./images/tablet/gallery/images10@2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <source
            srcset="
              ./images/mobile/gallery/images10.png    1x,
              ./images/mobile/gallery/images10@2x.png 2x
            "
            media="(max-width: 479px)"
          />
          <img class="gallery__img" src="#" alt="Gallery" loading="lazy" />
        </picture>
      </div>
    </div>
  </div>
</section>
