<header class="header">
  <div class="container header-wraper">
    <a class="logo" href="./index.html">
      <img src="./images/logo/logo.png" alt="Логотип" />
    </a>
    <div class="mobile-menu is-hidden">
      <div class="menu-container">
        <svg width="14" height="14" class="cross-button js-close-menu">
          <use class="icon-cross" href="./images/symbol-defs.svg#menu-close"></use>
        </svg>
        <button type="button" class="modal-button pointer">
          <span class="modal-button__text">Buy now</span>
          <svg width="6" height="10" class="button__icon--pink">
            <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
          </svg>
        </button>
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="./index.html" class="nav-list__link js-home">Home</a>
          </li>
          <li class="nav-list__item">
            <a href="#advantages" class="nav-list__link js-about">About us</a>
          </li>
          <li class="nav-list__item">
            <a href="#about" class="nav-list__link js-how">How it's made?</a>
          </li>
          <li class="nav-list__item">
            <a href="#products" class="nav-list__link js-our">Our products</a>
          </li>
          <li class="nav-list__item">
            <a href="#contacts" class="nav-list__link js-contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-button-wraper">
      <svg
        width="20"
        height="12"
        class="menu-button js-open-menu"
        aria-label="Переключатель мобильного меню"
      >
        <use class="icon-menu" href="./images/symbol-defs.svg#menu"></use>
      </svg>
      <button type="button" class="header-button pointer">
        <span class="button__text">Buy now</span>
        <svg width="6" height="10" class="button__icon--pink">
          <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
