
  <div class="about-backdrop backdrop is-hidden js-about-modal">
    <div class="about-form">
      <button type="button" class="about-close-button js-about-modal-close">
        <svg class="about-form__icon-close" width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-modal-close"></use>
        </svg>
      </button>
      <p class="about-form__title">How Ice Cream Is Made</p>
      <p class="about-form__description">If you place a container of milk or cream in the freezer, you'll end up with a stiff block of frozen liquid, not the soft, creamy ice cream that we're used to. Special techniques are employed to make ice cream that creates smaller ice crystals and incorporates air, which produces a soft texture.</p>
    </div>
  </div>