.backdrop {
  @include transition(opacity);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba($primary-text-color, 0.4);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden {
  @media screen and (max-width: 1279px) {
    opacity: 0;
    pointer-events: none;
  }
}